.about{
    width: 80%;
    margin: 0 auto;
    .aboutbanner{
        height: 300px;
        background-image: url(../images/special-offer-01.jpg);
        background-size: cover;
    }
    .aboutdesc{
        margin-top: 50px;
        display: flex;
        .abouttext{
            font-size: 30px;
        }
    }
}