.content{
    color: red;
    min-height: 250px;
    background-color: white;
    padding: 50px;

    .products{
        width: 70%;
        background-color: black;
        min-height: 50px;
        margin: 0 auto;
        .product{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            .prod-image{
                height: 350px;
                width: 350px;
                border-radius: 50%;
                background-color: cyan;
            }
            .prod-desc{
                width: 50%;
            }
        }
    }
}