@font-face {
  font-family: GillSansR;
  src: url(../images/fonts/GillSans-01.ttf);
}
@font-face {
  font-family: GillSansL;
  src: url(../images/fonts/GillSans-Light-08.ttf);
}
@font-face {
  font-family: GillSansI;
  src: url(../images/fonts/GillSans-Italic-03.ttf);
}
@font-face {
  font-family: GillSansI;
  src: url(../images/fonts/GillSans-);
}
@font-face {
  font-family: ProximaNovaScOsfExtraCondensed;
  src: url(../images/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: ProximaNovaThin;
  src: url(../images/fonts/Proxima-Nova-Thin.otf);
}
  

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: GillSansR;
}
html, body {
height: 100%;
background-color: white;
}
h1, h2, h3, h4, h5, h6, p {
margin-bottom: 16px;
}

#app {
  max-width: $site-width;
  margin: 0 auto;
}