// Page Width and Height

$site-width: 980px;
$banner-footer-width: 1280px;
$nav-footer-height: 92px;
$banner-height: 500px;
$tours-width: 818px;
$tours-height: 304px;
$home-form-width: 818px;

// Site Colors
$site-blue: #79addc;
$site-white: #ffffff;
$site-black: #000000;

// Buttons